<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>health-bar-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,20}}</string>
                <key>sourceSize</key>
                <string>{100,20}</string>
            </dict>
            <key>health-bar-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>health-bar-40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>health-bar-60.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,24},{60,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,20}}</string>
                <key>sourceSize</key>
                <string>{60,20}</string>
            </dict>
            <key>health-bar-80.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{80,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,20}}</string>
                <key>sourceSize</key>
                <string>{80,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Health-Bar-ipadhd.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab1d9ad8a6f867801f343f6a779b6b56$</string>
            <key>textureFileName</key>
            <string>Health-Bar-ipadhd.png</string>
        </dict>
    </dict>
</plist>
