<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>health-bar-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,5}}</string>
                <key>sourceSize</key>
                <string>{25,5}</string>
            </dict>
            <key>health-bar-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,16},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>health-bar-40.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,16},{10,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,5}}</string>
                <key>sourceSize</key>
                <string>{10,5}</string>
            </dict>
            <key>health-bar-60.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,9},{15,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,5}}</string>
                <key>sourceSize</key>
                <string>{15,5}</string>
            </dict>
            <key>health-bar-80.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,9},{20,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,5}}</string>
                <key>sourceSize</key>
                <string>{20,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Health-Bar.png</string>
            <key>size</key>
            <string>{32,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf5816a052c2af666ddb41536317e169$</string>
            <key>textureFileName</key>
            <string>Health-Bar.png</string>
        </dict>
    </dict>
</plist>
